
  <div *ngFor="let product of products; index as productId">
    <table>
  <tr>
    <td valign="top">
        <img *ngIf="product.image" [src]="'https://dvekanzeg7sxc.cloudfront.net/'+product.image" alt="image" height="125">
    </td><td width="10"></td>
    <td valign="top"><h3><a [title]="product.name + ' details'" [routerLink]="['/products', productId]">{{ product.name }}</a></h3>
      <span *ngIf="product.description">Description: {{ product.description }}</span>
    </td>
  </tr>
    </table>
    <hr>
  </div>


  <!--
  <h3>  
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
      {{ product.name }}
    </a>
    </h3>

    <p *ngIf="product.image">
      <img [src]="'https://dvekanzeg7sxc.cloudfront.net/'+product.image" alt="image" height="200">
    </p>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

    <button (click)="share()">
    Share
  </button>

  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
  </app-product-alerts>
-->
