* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: url(https://d2g1d98hwd30nd.cloudfront.net/AB3_images/4.jpg) no-repeat;
  background-size: cover;
  color: black;
  font-family: "open sans";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*----------------NAVBAR------------*/
header {
  display: flex;
  justify-content: space-between;
  color: #FF9900;
  background: #0f2453;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Amazon Ember";
  margin: 0 2rem;
}
header div i {
  font-size: 2rem;
  margin: 0rem;
}
.midsection {
  width: 75%;
  margin: 0 auto;
  background-color: white;
  align-items: center;
  justify-content: center;
}

header nav {
  padding: 2px 1rem;
}

.login{
  padding-left: 200px;
}

nav ul li {
  list-style: none;
  display: inline;
  text-transform: unset;
  font-weight: bold;
  letter-spacing: 5px;
  font-family: Amazon Ember;
}
nav li a {
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: white;
  transition: all 250ms ease-in;
}
nav li a:hover {
  background: #ffce14;
  color: black;
}

/*-------------TOP SECTION-------------*/
.titles {
  color: white;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
}
.titles h1 {
  font-family: "Amazon Ember";
  font-size: 5rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 0 black;
  color: #FF9900;
}
.titles p {
  letter-spacing: 3px;
  text-shadow: 1px 1px 0 black;
}
/*-------------BOTTOM SECTION-----------*/
.container-boxes {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  max-width: 90vw;
  
}
.box {
  
  background: #b8e2f2 no-repeat ;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content:space-evenly;
  align-items:center;
  max-width: 700px;
  max-height: 250px;
  min-height: 250px;
  transition: all 250ms ease-out;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  font-family: Amazon Ember;
  
}
.box:hover {
  background:transparent;
  transform: translateY(-20%);
  color: rgba(255, 255, 255, 0.7);
}
.box a {
  text-decoration: none;
  color: black;
}

.icon {
  font-size: 3rem;
  padding: 1rem;
}
.text h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  color: black;
}
.text p {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
}
.text {
  padding: 0.5rem;
  
}

/*------MEDIAQUERIES-------*/
@media (max-width: 1160px) {
  .icon {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .text h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 0;
    font-size: 1rem;
  }
  .text p {
    margin-top: 1rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: 0.8rem;
  }
  header.midsection {
 /* font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive, */
 /* fantasy */
 font-weight: bold;
 font-size: 10px;
  }
  nav li a:hover {
    background: none;
    color: black;
  }
  
}
@media (max-width: 850px) {
  body {
    height: 100%;
  }
  .container-boxes {
    flex-direction: column;
  }
  .box:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: none;
  }
  .titles h1 {
    font-size: 3rem;
  }
}